
<div class='row'>
	<div id="auction_chart" class='col-lg-8 col-lg-offset-2'>

	<%= high_chart("auction_chart", @chart) %>

	</div>
</div>
<div class='row'>
  <div id="auction_users" class='col-sm-4'>
  	<%= high_chart("auction_users", @chart) %>
  </div>
  <div id="auction_profit" class='col-sm-4'>
  	<%= high_chart("auction_profit", @chart) %>
  </div>
  <div id="total_sales_by_server" class='col-sm-4'>
  	<%= high_chart("total_sales_by_server", @chart) %>
  </div>
</div>