<div>
	<ul>
	<% @item_data.each do |x|%>
	<div class='col-sm-12 well list-unstyled wowhead'>
	<li><a href="http://www.wowhead.com/?item=<%= x.item_id %>"><%= x.name%></a>   Sell Price to vendor:<%=x.sellPrice%></li>	
	<!-- <li><a href="#" rel="item=">hai</a> </li> -->
	</div>
	<%end%>
	</ul>
</div>